<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coaching">
            <h2><span>Coaching</span> {{coaching.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{coaching.type}}</span>
                </dd>
                <dt><span>Jeu</span></dt>
                <dd>
                    <span>{{coaching.jeu}}</span>
                </dd>
                <dt><span>Prix</span></dt>
                <dd>
                    <span>{{coaching.prix}}</span>
                </dd>
                <dt><span>Coach</span></dt>
                <dd>
                    <div *ngIf="coaching.coach">
                        <a [routerLink]="['/coach', coaching.coach?.id, 'view']">{{coaching.coach?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/coaching', coaching.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
